
.input-component{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%;
}

.input-group{
    position: relative;
    margin-top: 25px;
    width: 100%;
}
.input{
    padding:10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: #fff;
    background-color: transparent;
    outline: 2px solid #fff;
    width: 100%;
    font-size: 130%;
}
.input.error {
    -webkit-animation: shake 0.17s ease-in-out 0s 3;
            animation: shake 0.2s ease-in-out 0s 3;
    box-shadow: 0 0 0.5em red;
}
@-webkit-keyframes shake {
    0% {
      margin-left: 0rem;
    }
    25% {
      margin-left: 0.5rem;
    }
    75% {
      margin-left: -0.5rem;
    }
    100% {
      margin-left: 0rem;
    }
  }
  
  @keyframes shake {
    0% {
      margin-left: 0rem;
    }
    25% {
      margin-left: 0.5rem;
    }
    75% {
      margin-left: -0.5rem;
    }
    100% {
      margin-left: 0rem;
    }
  }

.input-label{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transition: transform .25s;
    font-size: 120%;
    pointer-events: none;
}
.input-label:hover{
    cursor: text;

}
.input:focus+.input-label, .input:valid+.input-label{
    transform: translate(10px, -14px) scale(.8);
    color: black;
    padding-left: 5px;
    background-color: #fff;
    padding: 0px 4px;
    border-radius: 7px;
}
.input:is(:focus,:valid){
    outline-color: #fff;

}