.register-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem auto;
    width: 33rem;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    );
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.36);
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 24px;
    padding: 48px;
    .register-link {
      margin-top: 2rem;
    }
    
}
.successful-registration-msg {
  color: #fff;
  margin-top: 12rem;
}
@media (max-width: 1200px) {
    .register-div{
        margin: 90px auto;
        display: flex;
        flex-direction: column;
        width: 50%;
    }
  }
  
  @media (max-width: 750px) {
      .register-div{
          display: flex;
          flex-direction: column;
          margin: 90px auto;
          width: 70%;
      }
  }

