.new-task-page {
  margin-top: 13em;
  h1 {
    margin-top: 5rem;
    color: white;
  }
  .new-task-div {
    color: white;
    width: 32rem;
    textarea {
      margin-top: 2.5rem;
      width: 100%;
      font-size: 1.3rem;
      border-radius: 0.5rem;
    }
    .select-status-div {
      width: 100%;
      display: flex;
      margin-top: 2rem;
      margin-bottom: 3rem;
      font-size: 1.3rem;
      select {
        border-radius: 0.5rem;
        width: 100%;
      }
    }
    #task-status {
      margin-left: 5.1rem;
    }
    .btn-component {
      margin-top: 5rem;
    }
    .date-div {
      width: 100%;
      font-size: 1.3rem;
      :nth-child(2) {
        margin-left: 3rem;
        border-radius: 0.5rem;
      }
    }
    #new-task-added {
      h1 {
        text-align: center;
      }
    }
  }
}

@media (min-width: 1100px) {
  .new-task-page {
    .new-task-div {
      width: 50rem;
    }
  }
}

.hidden {
  display: none;
}
