
label,
input{
    font-size: 1.6rem;
    letter-spacing: 1px;
}
input{
    position: relative;
    padding: 10px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid #fff;
    outline: none;
    color: #fff;
    font-weight: 400;
}

::placeholder { 
    color: rgb(255, 255, 255);
  }