.tasks-page {
  margin-top: 5rem;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  .task {
    border: 0.2rem solid black;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 1rem;
    margin: 0.7rem;
    * {
      color: white;
    }
  }
}
