.login-form {
  /* display: none; */
}

.login-div{
    display: flex;
    flex-direction: column;
    margin: 90px auto;
    width: 38%;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    );
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.36);
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 24px;
    padding: 48px;
}

.hidden {
  display: none;
}

h1{
    font-size: 200%;
    color: #fff;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1200px) {
  .login-div{
      margin: 90px auto;
      display: flex;
      flex-direction: column;
      width: 50%;
  }
}

@media (max-width: 750px) {
    .login-div{
        display: flex;
        flex-direction: column;
        margin: 90px auto;
        width: 70%;
    }
}

.new-account-link{
  text-align: center;
  margin-top: 30px;
  text-decoration: none;
  color: inherit;
}

